body {
    text-align: center;
    margin: 15px;
    min-width: 800px;
}

.quotation {
    background-color: #f5f5f5;
}

.title > p, .cusomerDetails pre {
    margin: 0px;
}

hr {
    margin: 4px 0px;
}

.cusomerDetails > div {
    display: grid;
    grid-template-columns: 43% 33% 20%;
    grid-gap: 2%;
    text-align: left;
    margin: 8px;
}

.spanCol {
    grid-column: 1 / 3;
}

.cusomerDetails em {
    font-weight: 900;
    margin: 2px;
}

.summary {
    padding: 10px 10%;
}

table {
    width: 100%;
}

table, th, td {
    border:1px solid black;
    border-collapse: collapse;
}

.summaryCol1 {
    width: 10%;
}

.summaryCol2 {
    width: 60%;
    text-align: left;
    padding-left: 10px;
}

.summaryCol3 {
    width: 30%;
    text-align: right;
    padding-right: 10px;
}

thead, tfoot {
    background-color: #D3D3D3;
}

.items img {
    height: 100px;
    width: 100px;
}

.items {
    margin-top: 20px;
}

.numericCol {
    text-align: right;
    padding-right: 10px;
}